

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Lista de Usuarios Aplicacion Movil</h1>
    
   
  </div>
  
  <div class="pricing-header mx-auto">
  
    
    <div class="no-data text-center" *ngIf="preLoader">
      <img src="assets/preloader.gif" class="preloader-icon" alt="No user">
    </div>
  
    
    <div class="no-data text-center" *ngIf="noData">
      <img src="assets/no-user.svg" class="nodata-msg" alt="No user">
      <p class="nodata-msg">No user added yet!</p>
    </div>
  
    
    <div class="table-responsive" *ngIf="hideWhenNoUsuario">
      
      <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
        <thead>
          <tr>
            
            <th scope="col">UserID </th>
            <th scope="col">Correo Electronico </th>
            <th class="text-center" scope="col">Ubicaciones CSV</th>
            <th class="text-center" scope="col">Ubicaciones JSON</th>
            <th class="text-center" scope="col">Eliminar Usuario</th>
            <th class="text-center" scope="col">Eliminar Ubicaciones de usuario</th>
          </tr>
        </thead>
        <tbody>
         
          <tr *ngFor="let usuario of Usuario | paginate: { itemsPerPage: 10, currentPage: p }; let i = index;">
            <th scope="row">{{usuario.$key}}</th>

            <td>{{usuario.email}}</td>
            <td class="text-center action-block">
              <button type="button" class="btn btn-outline-success"  (click)="downloadCSVUbiUser(usuario)"  *ngIf="hideWhenNoUsuario" >
                Descargar</button>
              </td>
            <td class="text-center action-block">
              <button type="button" class="btn btn-outline-success" (click)="downloadUbiUser(usuario)" *ngIf="hideWhenNoUsuario">
                Descargar</button>
              </td>
              
            <td class="text-center action-block">
              <button class="far fa-trash-alt" (click)="deleteUsuario(usuario) " class="btn btn-danger" *ngIf="hideWhenNoUsuario">
                Eliminar</button></td>

              <td class="text-center action-block">           
                <button class="far fa-trash-alt" (click)="deleteUbiUsuario(usuario) " class="btn btn-danger" *ngIf="hideWhenNoUsuario">
                Eliminar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>
  </div>